
.board-background {
  height: 100vh;
  width: 100vw;
  background-image: url("../../../assets/images/game-background.png");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: grey;
}

div > h1{
  position: fixed;
  color: #e1ddc2;
  top: 25px;
}


.top-left-border-rounded {

  border-top-left-radius: 1.25rem;
}

.top-right-border-rounded {

  border-top-right-radius: 1.25rem;
}

.bottom-left-border-rounded {
  border-bottom-left-radius: 1.25rem;
}

.bottom-right-border-rounded {
  border-bottom-right-radius: 1.25rem;
}
