body {
  background-color: grey;
  overflow: hidden;
}

.top-left-border-rounded {

  border-top-left-radius: 1.25rem;
}

.top-right-border-rounded {

  border-top-right-radius: 1.25rem;
}

.bottom-left-border-rounded {
  border-bottom-left-radius: 1.25rem;
}

.bottom-right-border-rounded {
  border-bottom-right-radius: 1.25rem;
}
